In [1]:
import requests
from scrapy.selector import Selector
import pandas as pd
import numpy as np

### Create a list of URL's to scrape, this is just for Melbourne, Sydeny will be scraped below

In [8]:
reqs = []
for x in range(2, 31):
    r = requests.get('https://www.seek.com.au/Data-jobs/in-Melbourne?page=' + str(x))
    HTML = r.text
    urls = Selector(text=HTML).xpath('//*/article/span[2]/span/h1/a/@href').extract()
    reqs.extend(urls)

In [9]:
len(reqs)

588

### Using Scrapy with X-path to get the required information from the list of URL's

In [23]:
data = []
titles = []
companies = []
locations = []
pays = []
descriptions = []

for r in reqs:
    b = requests.get('https://www.seek.com.au' + str(r))
    HTMLa = b.text
    title = Selector(text=HTMLa).xpath('//*/section/div/span/span/h1/text()').extract()
    if title is None:
        title = 'NA'
        titles.append(title)
    else: 
        title = Selector(text=HTMLa).xpath('//*/section/div/span/span/h1/text()').extract() 
        titles.append(title)
    
    company = Selector(text=HTMLa).xpath('//*/h2/span[2]/span/text()').extract()
    if company is None:
        company = 'NA'
        companies.append(company)
    else: 
        company = Selector(text=HTMLa).xpath('//*/h2/span[2]/span/text()').extract() 
        companies.append(company)
    
    location = Selector(text=HTMLa).xpath('//*/aside/span/div[2]/div/section/dl/dd[2]/span/span/strong/text()').extract()
    if location is None:
        location = 'NA'
        locations.append(location)
    else: 
        location = Selector(text=HTMLa).xpath('//*/aside/span/div[2]/div/section/dl/dd[2]/span/span/strong/text()').extract() 
        locations.append(location)
    
    pay = Selector(text=HTMLa).xpath('//*/aside/span/div[2]/div/section/dl/div[1]/dd/span/span/text()').extract()
    if pay is None:
        pay = 'NA'
        pays.append(pay)
    else: 
        pay = Selector(text=HTMLa).xpath('//*/aside/span/div[2]/div/section/dl/div[1]/dd/span/span/text()').extract() 
        pays.append(pay)
    
    description = Selector(text=HTMLa).xpath('//*[@class="_2e4Pi2B"]').xpath('string()').extract()
    if description is None:
        description = 'NA'
        descriptions.append(description)
    else: 
        description = Selector(text=HTMLa).xpath('//*[@class="_2e4Pi2B"]').xpath('string()').extract() 
        descriptions.append(description)

### Makes sure that we have the right amount of entries for each column scraped

In [25]:
print(len(titles))
print(len(companies))
print(len(locations))
print(len(pays))
print(len(descriptions))

588
588
588
588
588

### Create a DataFrame from the sccraped information

In [26]:
d = {'Title' : titles,'Company' : companies, 'Location' : locations, 'Pay' : pays, 'Description' : descriptions}

In [27]:
df = pd.DataFrame(data=d)

In [28]:
df.head()

,Title,Company,Location,Pay,Description
0,[Reception/ Administration/High volume Invoici...,[BT Recruitment Pty Ltd],[Melbourne],[],"[<div data-automation=""mobileTemplate"" class=""..."
1,[Lead Data Architect],[ME],[Melbourne],[],"[<div data-automation=""mobileTemplate"" class=""..."
2,[Data Analyst],[Victoria University],[Melbourne],[],"[<div data-automation=""mobileTemplate"" class=""..."
3,[Data Wrangling Expert/Asset Performance Analyst],[Peak Services],[Melbourne],[],"[<div data-automation=""mobileTemplate"" class=""..."
4,[Data Scientist / Data Analyst],[Randstad - Technologies],[Melbourne],[],"[<div data-automation=""mobileTemplate"" class=""..."

### Do the same for Sydney jobs

In [29]:
reqs2 = []
for c in range(2, 31):
    r2 = requests.get('https://www.seek.com.au/Data-jobs/in-Sydney?page=' + str(c))
    HTML2 = r2.text
    urls2 = Selector(text=HTML2).xpath('//*/article/span[2]/span/h1/a/@href').extract()
    reqs2.extend(urls2)

In [30]:
len(reqs2)

595

In [31]:
data2 = []
titles2 = []
companies2 = []
locations2 = []
pays2 = []
descriptions2 = []

for n in reqs2:
    b2 = requests.get('https://www.seek.com.au' + str(n))
    HTMLa2 = b2.text
    title2 = Selector(text=HTMLa2).xpath('//*/section/div/span/span/h1/text()').extract()
    if title2 is None:
        title2 = 'NA'
        titles2.append(title2)
    else: 
        title2 = Selector(text=HTMLa2).xpath('//*/section/div/span/span/h1/text()').extract() 
        titles2.append(title2)
    
    company2 = Selector(text=HTMLa2).xpath('//*/h2/span[2]/span/text()').extract()
    if company2 is None:
        company2 = 'NA'
        companies2.append(company2)
    else: 
        company2 = Selector(text=HTMLa2).xpath('//*/h2/span[2]/span/text()').extract() 
        companies2.append(company2)
    
    location2 = Selector(text=HTMLa2).xpath('//*/aside/span/div[2]/div/section/dl/dd[2]/span/span/strong/text()').extract()
    if location2 is None:
        location2 = 'NA'
        locations2.append(location2)
    else: 
        location2 = Selector(text=HTMLa2).xpath('//*/aside/span/div[2]/div/section/dl/dd[2]/span/span/strong/text()').extract() 
        locations2.append(location2)
    
    pay2 = Selector(text=HTMLa2).xpath('//*/aside/span/div[2]/div/section/dl/div[1]/dd/span/span/text()').extract()
    if pay2 is None:
        pay2 = 'NA'
        pays2.append(pay2)
    else: 
        pay2 = Selector(text=HTMLa2).xpath('//*/aside/span/div[2]/div/section/dl/div[1]/dd/span/span/text()').extract() 
        pays2.append(pay2)
    
    description2 = Selector(text=HTMLa2).xpath('//*[@class="_2e4Pi2B"]').extract()
    if description2 is None:
        description2 = 'NA'
        descriptions2.append(description2)
    else: 
        description2 = Selector(text=HTMLa2).xpath('//*[@class="_2e4Pi2B"]').extract() 
        descriptions2.append(description2)

In [33]:
print(len(titles2))
print(len(companies2))
print(len(locations2))
print(len(pays2))
print(len(descriptions2))

595
595
595
595
595

In [34]:
d2 = {'Title' : titles2,'Company' : companies2, 'Location' : locations2, 'Pay' : pays2, 'Description' : descriptions2}

In [35]:
df2 = pd.DataFrame(d2)

In [36]:
df2.head()

,Title,Company,Location,Pay,Description
0,[Big Data Engineer],[Servian],[Sydney],[Salary depends on skills and experience],"[<div data-automation=""mobileTemplate"" class=""..."
1,[Data Analyst (Digital)],[Seventh Street Ventures],[Sydney],"[$60,000 - $70,000 plus Super]","[<div data-automation=""mobileTemplate"" class=""..."
2,[Administration/Data Entry Clerk],[Beaumont People],[Sydney],[],"[<div data-automation=""mobileTemplate"" class=""..."
3,[CRM Data Analyst],[NGO Recruitment],[Sydney],[],"[<div data-automation=""mobileTemplate"" class=""..."
4,[Data Analyst],[IPG Mediabrands],[Sydney],"[$75,000 - $85,000 inclusive of super]","[<div data-automation=""mobileTemplate"" class=""..."

### Join the data together and now we have a DataFrame of around 1200 jobs

In [37]:
df_full = pd.concat([df, df2])

In [38]:
df_full.describe()

,Title,Company,Location,Pay,Description
count,1183,1183,1183,1183,1183
unique,758,494,2,302,969
top,[Data Analyst],[Talent – Winner ‘Seek Large Recruitment Agenc...,[Sydney],[],"[<div data-automation=""mobileTemplate"" class=""..."
freq,51,31,595,779,4

In [39]:
df_full.to_csv('df_full.csv', index=False)